</div>
<!-- /.container-fluid-->
</div>
<!-- /content-wrapper-->

</div>
</div>
</div>
<!--Right panel-->
</div>
<!--Main-->



<script src="/axios/dist/axios.min.js"></script>
<script src="/js/main.js"></script>

<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.slim.min.js"></script> -->
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.15.0/umd/popper.min.js"></script> -->
<!-- <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script> -->
</body>

</html>