
<!-- Message d'erreur lors de la connexion -->
<% if (locals.error && error !="") {%>
    <div class="alert alert-danger" style="color: red;">
        <%= error%>
    </div>
<%}%>

<!-- Message d'erreur lors de la connexion
<% if (locals.success && success !="") {%>

    <div class="alert alert-success" style="color: green;">
        <%= success%>
    </div>
<%}%> -->